:root {
    --slider-connect-bg: #8cbe2e;
    --slider-tooltip-bg: #8cbe2e;
    --slider-handle-ring-color: #8cbe2e;
}
.label {
    font-size: 1rem;
    font-weight: 700;
}
.formkit-input {
    background: $white-color !important;
    border: 1px solid $dark-gray;
    &:focus {
        border: 2px solid $dark-gray !important;
    }
    &::-webkit-input-placeholder {
        font-size: 0.7rem;
    }
}
.row-images {
    --bs-gutter-x: 0.01rem;
    .img-card-big {
        padding-right: 1px;
    }
    .col {
        padding: 1px !important;
    }
    img {
        border-radius: 10px;
    }
    .room-img {
        width: 100%;
        height: 100%;
    }
}
